.alunos {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.search {
    margin-left: 2%;
    margin-right: 4%;
    gap: 1%;
    margin-bottom: 1%;
    font-size: 1.2rem;
    font-weight: bold;
}

.search input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: normal;
    height: 2rem;
    padding: 0 1rem;
}

.error {
    color: red;
    font-size: 1.2rem;
}

.tabela {
    margin-left: 2%;
    margin-right: 2%;
}